.logo-bg {
  position: relative;
}

.logo-bg img {
  object-fit: cover;
  object-position: center;
}

.logo-bg h1 {
  font-size: 2.5rem;
  font-weight: 900 !important;
  color: var(--cutom-black-text);
}

/* 
id
password
password
username */
