{% extends "reviews/layout.html" %}
{% block title %}리뷰 작성{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/reviews.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="/static/js/reviews.js"></script>
{% endblock %}
{% block main %}
    <h1>리뷰 작성 페이지</h1>
    <form class="review-form">
        <textarea name="review-comment" id="review-comment" cols="30" rows="10"></textarea>
        <label for="review-comment" hidden></label>
        <select class="form-select" id="review-rate">
            <option selected disabled hidden>-- 선택하세요🌟 --</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
        <label for="review-rate" hidden>별점</label>
        <button>작성</button>
    </form>
{% endblock %}