{% extends "reviews/layout.html" %}
{% block title %}주차장 리뷰보기{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/reviews.css">
    <script>
        $(document).ready(function () {
            getParkReview();
        });
        const getParkReview = () => {
            let parkid = window.location.pathname.split("/")[2];
            $.ajax({
                type: "GET",
                url: `/api/reviews/${parkid}`,
                data: {},
                success: function (res) {
                    console.log(res);
                }
            })
        }
    </script>
{% endblock %}
{% block main %}
    <h1>개별 주차장 리뷰 페이지</h1>
    {{ data.park['주차장명'] }}
{% endblock %}
