<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/css/default.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/partials.css" />
    <title>주차어디</title>
    <script defer src="/static/js/navbar.js"></script>
  </head>
  <body class="">
    {% include "partials/header.html" %}
    <div class="pattern-bg"></div>
    <main class="container custom-max-width">
      <header>
        <img src="static/img/spin.gif" alt="spin" />
        <h1>주차어디</h1>
      </header>
      <div class="button-wrap">
        <div id="address" class="search-btn address rounded-3 fw-bolder">주소로 찾기</div>
        <div id="nearby" class="search-btn nearby rounded-3 fw-bolder">주변 찾기</div>
      </div>
      <div class="link-reviewpage btn cutom-yellow-border border-2 w-100">
        <a href="/reviews" class="cutom-black-text text-decoration-none"
          >주차장 리뷰 전체보기</a
        >
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>
      const address = document.querySelector("#address");
      const nearby = document.querySelector("#nearby");
      console.log(address);
      address.addEventListener("click", () => {
        window.location.href = "selectAddress";
      });
      nearby.addEventListener("click", () => {
        window.location.href = "searchArea";
      });
    </script>
  </body>
</html>
