<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="static/css/default.css" />
    <link rel="stylesheet" href="static/css/login.css" />

    <title>주차어디 - 회원가입</title>
  </head>
  <body class="text-center container custom-max-width">
    <form class="mt-2">
      <h1 class="cutom-yellow-text fw-border">회원가입</h1>
      <h2 class="h3 mb-5 fw-normal fs-6 mt-5">
        "주차 어디"와 함께해주셔서 감사합니다 🚖
      </h2>
      <div class="mb-3">
        <input
        class="form-control form-control-lg fs-6"
        type="text"
        id="id"
        placeholder="아이디"
        onblur="validate_id()"
        />
        <div class="invalid-feedback" id="idMsg"></div>
      </div>
      <div class="mb-3">
        <input
          class="form-control form-control-lg fs-6"
          type="password"
          id="pw"
          placeholder="비밀번호"
          onblur="validate_pw()"
        />
        <div class="invalid-feedback" id="pwMsg"></div>
      </div>
      <div class="mb-3">
        <input
          class="form-control form-control-lg fs-6"
          type="password"
          id="password_check"
          placeholder="비밀번호 확인"
          onblur="validate_pw_check()"
        />
        <div class="invalid-feedback" id="pwCheckMsg"></div>
      </div>
      <div class="mb-5">
        <input
          class="form-control form-control-lg fs-6"
          type="text"
          id="username"
          placeholder="이름"
          onblur="validate_name()"
        />
        <div class="invalid-feedback" id="nameMsg"></div>
      </div>
      <button class="btn w-100 cutom-yellow-bg text-white mb-2 py-2">
        회원가입
      </button>
      <p class="mt-5 text-muted">&copy; 항해 5조</p>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script src="static/js/signup.js"></script>
  </body>
</html>
